.progress-bar {
    padding: 0;
  }
  
  .progress {
    width: 50px;
  }
  
  .mat-input-element {
    font-size: medium;
    font-weight: 200;
  }
  
  #fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  
  .mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
  }
  
  .mat-toolbar-single-row button {
    width: 100px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .message {
    background-color: #ddd;
    padding: 15px;
    color: #333;
    border: #aaa solid 1px;
    border-radius: 4px;
    margin: 15px 0;
  }
  
  .preview {
    max-width: 200px;
    vertical-align: middle;
  }
  .flex-parent{
    display: flex;
  }
  .flex-item{
    flex-direction: row;
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(0, 0, 0);
  }
  .flex-container2{
    display: flex;
    // width: 90vw;
    // flex-wrap: nowrap;
    
  flex-flow: row wrap;
    .flex-ss{
      padding: 9px 20px;
      overflow: unset;

    }
  }
  .high{
    background-color: rgb(218, 4, 4)!important; 
  }
  .medium{
    background-color: rgb(216, 120, 10)!important; 

  }
  .low{
    background-color: rgb(24, 165, 43) !important; 

  }
  .none { 
    background-color:   #b7adad !important; 

 
  }
 
  .img2{
    max-width: 160px;
    max-height: 160px;
    border-radius: 50%;
  }
  .instant {
    text-align: center;
    color: #e7a327;
    font-size: 20px;
  }
  .mat-toolbar-single-row{
    font-weight: bold;
    color: black;
  }
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    text-align: center;
    
    font-weight: bold;
    color: white;
    margin: 6px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    
    border-radius: 36px 36px;
    border: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
 
  
  .list-card {
    margin-top: 20px;
  }
  
  .list-item {
    margin-bottom: 20px;
  }