<h2 mat-dialog-title>Confirm your Dish</h2>

<label id="example-radio-group-label">You can pick maximum 1 dish from each group</label>
<!-- <mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteSeason">
  <mat-radio-button class="example-radio-button" *ngFor="let season of data?.values" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div>Your favorite season is: {{favoriteSeason}}</div> -->



<form [formGroup]="form">
  
  <div *ngFor="let d of data?.allData?.segmentation_results; let id = index">

    <div class="dish"> 
     Dish  {{id+1}} <br>
    </div>

    <label formArrayName="orders"  *ngFor="let order of d.recognition_results; let i = index">
      <mat-checkbox [formControlName]="5*id +i "  >  
        {{order.name}}
      </mat-checkbox>
    
    <br/>
  </label>
  </div>
  
<br/>
</form>



<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial  (click)="confirm()">Confirm</button>
</mat-dialog-actions>
